/* RULES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* /RULES */


/* MAIN SETTINGS_3 MACROAREAS */
body{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{ 
    background-color: #0C325A;
    height:600px;
     background-image: url(./img/background-header.png);
     background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 105% 105%;
    position: relative;
}
main{
    background-color: white;
    height: 850px;
   

}
footer{
background-color: lightgray;
height: 200px;
}
/* /MAIN SETTINGS_3 MACROAREAS */

            /********************** HEADER********************* */

/* NAVIGATION BAR */
.container{
width:90%;
margin: auto;
}
.logo, .main_menu{
    float: left;
}
.logo{
    
}
.logo_img{
    width:10rem;
    margin-top: 20px;
}
header nav{
    line-height: 80px;
    font-size: 20px;
}
.main_menu{
    margin-left: 50px;
    
}
.main_menu ul li{
display: inline-block;
list-style: none;
text-transform: uppercase;
padding: 10px 15px;

}
.main_menu ul li, .secondary_menu ul li{
    font-size: 20px;
   
}
.main_menu ul li a,.secondary_menu ul li a{
    font-size: 20px;
   color:white;
   text-decoration: none;
}
.secondary_menu{
float:right;
}
.secondary_menu ul li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 15px;
    text-align: right;   
}
.button_one{
    padding: 5px 20px;
    
    background-color: #0c325a;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.button_two{
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #7CBB02;
    color: white;
    border:1px solid #7CBB02;
    cursor: pointer;
}
/* /NAVIGATION BAR */
/* MAIN TITLE */
h1{
    color: white;
    
}
.button_three{
    padding: 30px 30px;
    font-size: large;
    border-radius: 5px;
    background-color: #7CBB02;
    color: white;
    border:1px solid #7CBB02;
    display: inline-block;
    
    text-transform: uppercase;
  margin-top: 20px;
    cursor: pointer;
}
.main_title{
    left: 120px;
    font-size: 30px;
    position: absolute;
    bottom: 100px;
}
/* /MAIN TITLE */
            /********************** /HEADER********************* */

              /********************** MAIN********************* */
.first_section{
   text-align: center;
   /* height: 150px; */
   background-color: lightgray;
   padding-top: 40px; 
   padding-bottom: 40px;
}
h2, .title_firstsection{
    font-size: 40px;
    line-height: 60px;
    font-weight:500;
    color: black;
    
}
p{
    font-size: 20px;
    font-weight: 400;
}
.second_section{
 
}
.images{
    width: auto;
    height: 200px;
   
}
.column_secondsection{
    float: left;
    width: 33.333%;
    text-align: center;
    padding-top: 40px;
    
}
h2, .title_columns{
    font-size: 30px;
    line-height:40px;
    color:#7CBB02;
    
}
.text_column{
    line-height: 40px;
    font-size: 20px;
    font-weight: 450;
    margin-top: 40px;
}