/* RULES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* RULES */


/* MAIN SETTINGS_3 MACROAREAS */
body{
    background-color: white;
}
body header{
    background-color: rgb(115, 190, 190);
    height:600px;
    
}
body main{
    background-color: rgb(187, 146, 117);
    height: 850px;
}
body footer{
background-color: rgb(45, 44, 150);
height: 200px;
}
/* MAIN SETTINGS_3 MACROAREAS */

/* NAVIGATION BAR */
.container{
width:90%;
margin: auto;
}
.logo, .main_menu, .secondary_menu{
    float: left;
}
.logo{
    width:10%;
}
.logo_img{
    width:10rem;
    margin-top: 20px;
}
.main_menu{
    width:40%
}
.main_menu ul li{
display: inline-block;
list-style: none;
text-decoration: none;
text-transform: uppercase;
padding: 10px 15px;
}
.secondary_menu{
widht: 50%;
}
.secondary_menu ul li{
    display: inline-block;
}




/* NAVIGATION BAR */