/* RULES*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* RULES */


/* MAIN SETTINGS_3 MACROAREAS */
body{
   
}
header{ 
    background-color: rgb(9, 9, 92);
    height:600px;
     background-image: url(./img/background-header.png);
     background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 105% 105%;
}
main{
    background-color: rgb(187, 146, 117);
    height: 850px;
   

}
footer{
background-color: rgb(45, 44, 150);
height: 200px;
}
/* MAIN SETTINGS_3 MACROAREAS */

/* NAVIGATION BAR */
.container{
width:90%;
margin: auto;
}

.logo, .main_menu{
    float: left;
}
.logo{
    
}
.logo_img{
    width:10rem;
    margin-top: 20px;
}
.main_menu{
    margin-left: 50px;
}
.main_menu ul li{
display: inline-block;
list-style: none;
text-transform: uppercase;
padding: 10px 15px;

}
.main_menu ul li, .secondary_menu ul li{
    font-size: 20px;
   
}
.secondary_menu{
float:right;
}
.secondary_menu ul li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 15px;
    text-align: right;  
   
}
header nav{
    line-height: 80px;
    
}
.button_one{
    padding: 5px 20px;
    
}


/* NAVIGATION BAR */